@model Concert.Data.Entities.Ticket

@{
    ViewData["Title"] = "DetailsTicket";
}

<h1>Detalles</h1>

<div>
    <partial name="_DetailsTicket"/>    
</div>
<div>
    <a asp-action="Index" class="link-login-verde">Regresar</a>
</div>
